.header {
  padding: 2rem;
  margin: auto;
  display: flex;
  justify-content: center;
}

.navBar {
  width: 100%;
}
.list {
  display: flex;
  gap: 2em;
  justify-content: flex-start;
}

.navigationButtons {
  display: flex;
}

li {
  list-style-type: none;
}

.list a {
  text-decoration: none;
  color: var(--color-gray-200);
}

.list a:hover,
.list a.active {
  color: lightskyblue;
  text-decoration: underline;
}
