* {
  box-sizing: border-box;
}

menu {
  display: flex;
  padding: 0;
}

.detailsContainer {
  padding: 10px;
  margin-bottom: 10px;
  border-top: 2px solid var(--color-gray-600);
  border-bottom: 2px solid var(--color-gray-600);
}

.header {
  display: flex;
  height: 200px;
  gap: 2rem;
}
.header img {
  border-radius: 10px;
  max-width: 100%;
  height: auto;
}

.sliderContainer {
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  width: 100%;
  height: auto;
  padding: 2px 0;
}

.sliderContainer a {
  text-decoration: none;
  color: #ffffff;
  flex: 0 0 150px;
  margin-right: 10px;
  padding: 2px;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.slide {
  width: 100%;
}

.slide p {
  margin-top: auto;
  margin-bottom: 0;
  font-size: 1rem;
  max-width: 100%;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.slide img {
  max-width: 100%;
  height: auto;
  max-height: 100px;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}

.truncated {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  margin-bottom: 0;
}

.fullText {
  display: block;
}

.seeMore {
  color: var(--color-gray-300);
  cursor: pointer;
  display: inline-block;
  margin-top: 5px;
  background: none;
  border: none;
  padding: 0;
  font: inherit;
}

@media (max-width: 600px) {
  .detailsContainer {
    display: flex;
    flex-direction: column;
  }
  .header {
    flex-direction: column;
    height: auto;
    gap: 0;
  }

  .header img {
    order: 2;
    width: 100%;
  }

  .header h1 {
    order: 1;
    text-align: center;
    margin-top: 10px;
  }
}
